@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.mjs";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.expressive-code {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.expressive-code .frame.is-terminal .header::before {
  background-image: linear-gradient(
    to right,
    #c95b5b 30%,
    30%,
    #e0b054 70%,
    70%,
    #62b162
  );
  opacity: 0.8 !important;
}

/* 見出しジャンプ時にヘッダーで隠れないようにする */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  scroll-margin-top: 4rem;
  position: relative;
}

/* 見出しリンクコピーボタン */
.markdown-copy-link-btn {
  display: none;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 0.5em;
}

h1:hover .markdown-copy-link-btn,
h2:hover .markdown-copy-link-btn,
h3:hover .markdown-copy-link-btn,
h4:hover .markdown-copy-link-btn,
h5:hover .markdown-copy-link-btn,
h6:hover .markdown-copy-link-btn,
h1:focus-within .markdown-copy-link-btn,
h2:focus-within .markdown-copy-link-btn,
h3:focus-within .markdown-copy-link-btn,
h4:focus-within .markdown-copy-link-btn,
h5:focus-within .markdown-copy-link-btn,
h6:focus-within .markdown-copy-link-btn {
  display: inline-flex;
}

.markdown-copy-link-btn svg {
  width: 16px;
  height: 16px;
  display: block;
}

/* リンクカード */
.remark-link-card-plus__container {
  @apply mb-4;
}

.remark-link-card-plus__card {
  @apply h-32 flex bg-white overflow-hidden rounded-xl border border-slate-300 transition-colors !no-underline;
}

.remark-link-card-plus__card:hover {
  @apply shadow-lg;
}

.remark-link-card-plus__main {
  @apply flex flex-col flex-1 p-4;
}

.remark-link-card-plus__title {
  @apply text-lg font-semibold leading-6 line-clamp-2 text-gray-900;
}

.remark-link-card-plus__description {
  @apply mt-1 text-sm text-gray-500 line-clamp-1;
}

.remark-link-card-plus__meta {
  @apply flex items-center mt-auto;
}

.remark-link-card-plus__favicon {
  @apply !my-0 mr-1 h-4 w-4;
}

.remark-link-card-plus__url {
  @apply text-xs text-gray-600;
}

.remark-link-card-plus__thumbnail {
  @apply h-32 w-1/3 md:max-w-64;
}

.remark-link-card-plus__image {
  @apply h-full w-full !my-0 object-cover;
}

figcaption {
  @apply text-center;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
