---
import Base from "@/layouts/base.astro";

import { ProfileComponent } from "@/components/shadcn/profile";
import { Content as AboutContent } from "@/data/about.md";
---

<Base pageTitle="About">
    <ProfileComponent />

    <div class="prose prose-lg leading-5 md:leading-4">
        <AboutContent />
    </div>
</Base>
