---
import Base from "@/layouts/base.astro";

import Skill from "@/components/Skill";
import { ProfileComponent } from "@/components/shadcn/profile";
import { Content as AboutContent } from "@/data/about.md";
---

<Base pageTitle="About">
    <ProfileComponent />

    <!-- tabs -->
    <style>
        .tab-wrap {
            transition: 0.3s box-shadow ease;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            margin: 40px 0;
            box-shadow:
                0 1px 3px rgba(0, 0, 0, 0.2),
                0 1px 2px rgba(0, 0, 0, 0.2);
        }
        .tab {
            display: none;
        }
        .tab:checked:nth-of-type(1) ~ .tab_content:nth-of-type(1),
        .tab:checked:nth-of-type(2) ~ .tab_content:nth-of-type(2),
        .tab:checked:nth-of-type(3) ~ .tab_content:nth-of-type(3),
        .tab:checked:nth-of-type(4) ~ .tab_content:nth-of-type(4) {
            opacity: 1;
            transition:
                0.5s opacity ease-in,
                0.8s transform ease;
            position: relative;
            top: 0;
            z-index: 1;
            transform: translateY(0px);
        }
        .tab:checked + label {
            background-color: lightgray;
            cursor: default;
        }
        .tab + label {
            cursor: pointer;
            display: block;
            color: black;
            flex-grow: 3;
            text-align: center;
            background-color: darkgray;
            user-select: none;
            text-align: center;
            transition:
                0.3s background-color ease,
                0.3s box-shadow ease;
            height: 50px;
            box-sizing: border-box;
            padding: 15px;
        }
        .tab_content {
            padding: 10px 25px;
            position: absolute;
            width: 100%;
            z-index: -1;
            opacity: 0;
            left: 0;
            transform: translateY(-3px);
        }
    </style>

    <div class="tab-wrap">
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked />
        <label for="tab1">Languages</label>

        <input type="radio" id="tab2" name="tabGroup1" class="tab" />
        <label for="tab2">3DCG & GameDev</label>

        <input type="radio" id="tab3" name="tabGroup1" class="tab" />
        <label for="tab3">Hardware & System</label>

        <input type="radio" id="tab4" name="tabGroup1" class="tab" />
        <label for="tab4">Other</label>

        <div class="tab_content">
            <table>
                <tbody>
                    <Skill name="C" rate={4} />
                    <Skill name="C++" rate={2} />
                    <Skill name="C#" rate={3} />
                    <Skill name="Go" rate={3} />
                    <Skill name="Java" rate={1} />
                    <Skill name="JavaScript" rate={4} />
                    <Skill name="TypeScript" rate={4} />
                    <Skill name="Python" rate={5} />
                    <Skill name="Rust" rate={1} />
                    <Skill name="Verilog" rate={3} />
                    <Skill name="SystemVerilog" rate={1} />
                    <Skill name="VHDL" rate={2} />
                    <Skill name="HTML" rate={5} />
                    <Skill name="CSS" rate={4} />
                </tbody>
            </table>
        </div>

        <div class="tab_content">
            <table>
                <tbody>
                    <p class="text-2xl">GameDev</p>
                    <Skill name="Unity" rate={3} />
                    <Skill name="Unreal Engine" rate={1} />
                    <Skill name="DirectX" rate={1} />
                </tbody>
            </table>

            <p class="text-2xl">Graphics</p>
            <table>
                <tbody>
                    <Skill name="OpenGL" rate={2} />
                    <Skill name="WebGL" rate={1} />
                    <Skill name="WebGPU" rate={1} />
                </tbody>
            </table>

            <p class="text-2xl">Shader</p>
            <table>
                <tbody>
                    <Skill name="GLSL" rate={2} />
                    <Skill name="HLSL" rate={1} />
                </tbody>
            </table>

            <p class="text-2xl">3DCG</p>
            <table>
                <tbody>
                    <Skill name="Blender" rate={1} />
                </tbody>
            </table>
        </div>

        <div class="tab_content">
            <p class="text-2xl">System Programming</p>
            <table>
                <tbody>
                    <Skill name="Compiler" rate={3} />
                    <Skill name="OS" rate={2} />
                </tbody>
            </table>

            <p class="text-2xl">Hardware</p>
            <table>
                <tbody>
                    <Skill name="CPU" rate={4} />
                    <Skill name="Electronics" rate={2} />
                    <Skill name="FPGA" rate={2} />
                    <Skill name="Arduino" rate={2} />
                    <Skill name="ESP32" rate={3} />
                </tbody>
            </table>
        </div>

        <div class="tab_content">
            <p class="text-2xl">Cloud</p>
            <table>
                <tbody>
                    <Skill name="AWS" rate={2} />
                    <Skill name="Google Cloud" rate={3} />
                    <Skill name="Azure" rate={1} />
                </tbody>
            </table>

            <p class="text-2xl">Other</p>
            <table>
                <tbody>
                    <Skill name="Git" rate={4} />
                    <Skill name="GitHub" rate={5} />
                    <Skill name="Docker" rate={3} />
                    <Skill name="Linux" rate={4} />
                    <Skill name="Windows" rate={5} />
                    <Skill name="macOS" rate={1} />
                    <Skill name="VSCode" rate={5} />
                    <Skill name="NeoVim" rate={2} />
                    <Skill name="Network" rate={3} />
                </tbody>
            </table>
        </div>
    </div>

    <div class="prose prose-lg leading-5 md:leading-4">
        <AboutContent />
    </div>
</Base>
