---
import { BlogComponent } from "@/components/shadcn/blog";
import Base from "@/layouts/base.astro";
import { getAllPosts } from "@/lib/posts";
import type { Post } from "@/types/post";

const posts = await getAllPosts();
const techPosts = posts.filter(
  (post) => post.category === "tech" && !post.isUnlisted,
);
const lifePosts = posts.filter(
  (post) => post.category === "life" && !post.isUnlisted,
);
---

<Base pageTitle="Blog">
    <div>
        <BlogComponent
            client:load
            techPosts={techPosts as Post[]}
            lifePosts={lifePosts as Post[]}
        />
    </div>
</Base>
