---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const blogs = await getCollection("blog");
---

<Base pageTitle="Blog" />

<h1>Blog</h1>
<div>
    {
        blogs.map((blog) => (
            <li>
                <a href={blog.slug}>{blog.data.title}</a>
            </li>
        ))
    }
</div>
