---
import Base from "../layouts/Base.astro";

import { getAllPosts } from "../lib/AllPosts";
const posts = await getAllPosts();
---

<Base pageTitle="Blog" />

<h1>Blog</h1>

<div>
    {
        posts.map((post) => (
            <li>
                <a href={post.slug || post.url}>{post.title}</a>
            </li>
        ))
    }
</div>
