---
import Base from "@/layouts/base.astro";

import { InstagramEmbedComponent } from "@/components/instagram";
import { getGalleries } from "@/lib/gallery";

const galleries = await getGalleries();
---

<Base pageTitle="Gallery">
    <div
        class="flex flex-col sm:flex-row justify-center items-center gap-3 flex-wrap"
    >
        {
            galleries.map((gallery) => (
                <InstagramEmbedComponent postId={gallery.postId} client:load />
            ))
        }
    </div>
</Base>
