---
import Base from "@/layouts/base.astro";

import { getGalleries } from "@/lib/gallery";
import InstagramEmbed from "@/lib/instagramEmbed.astro";

const galleries = await getGalleries();
---

<Base pageTitle="Gallery">
    <div
        class="flex flex-col sm:flex-row justify-center items-center gap-3 flex-wrap"
    >
        {galleries.map((gallery) => <InstagramEmbed postId={gallery.postId} />)}
    </div>
</Base>
