---
import { center } from "../../styled-system/patterns";

import Base from "../layouts/Base.astro";
---

<Base />

<div
    class={center({
        fontSize: "3rem",
    })}
>
    Under Construction...
</div>
