---
import { BlogPage } from "@/components/shadcn/blog-page";
import { Navigation } from "@/components/shadcn/navigation";
import Base from "@/layouts/base.astro";
import { getAllPosts } from "@/lib/posts";

// Get posts data
const posts = await getAllPosts();
const techPosts = posts.filter(
  (post) => post.category === "tech" && !post.isUnlisted,
);
const lifePosts = posts.filter(
  (post) => post.category === "life" && !post.isUnlisted,
);
---

<Base>
    <div>
        <Navigation client:load currentTab="blog" />
        <BlogPage client:load techPosts={techPosts} lifePosts={lifePosts} />
    </div>
</Base>
