---
import { css } from "../../styled-system/css";

import Base from "../layouts/Base.astro";
---

<Base />

<div
    class={css({
        display: "flex",
        fontSize: "10rem",
        justifyContent: "center",
    })}
>
    Under Construction...
</div>
