---
import Base from "../layouts/base.astro";

import { ImageCardComponent } from "@/components/shadcn/imageCard";

import { getAllSlides } from "../lib/slide";
const slides = await getAllSlides();
---

<Base pageTitle="Slides">

<div class="">
    {slides.map((slide) => (
        <ImageCardComponent
            thumbnail={"/slides/" + slide.path + "/001.png"}
            title={slide.title}
            pubDate={slide.pubDate}
            tags={slide.tags}
            url={"/slides/" + slide.path}
        />
    ))}
</div>

</Base>
