---
import Base from "@/layouts/base.astro";
import { Navigation } from "@/components/shadcn/navigation";
import { SlidesPage } from "@/components/shadcn/slides-page";
import { getAllSlides } from "@/lib/slide";

// Get slides data
const slides = await getAllSlides();
---

<Base>
    <div>
        <Navigation client:load currentTab="slides" />
        <SlidesPage client:load slides={slides} />
    </div>
</Base>
