---
import Base from "../layouts/base.astro";

import { SlideComponent } from "@/components/shadcn/slide";

import { getAllSlides } from "../lib/slide";
const slides = await getAllSlides();
---

<Base pageTitle="Slides">
    <div class="">
        {
            slides.map((slide) => (
                <SlideComponent
                    thumbnail={"/slides/" + slide.path + "/001.png"}
                    title={slide.title}
                    pubDate={slide.pubDate}
                    tags={slide.tags}
                    url={"/slides/" + slide.path}
                />
            ))
        }
    </div>
</Base>
