---
import { ChevronDownIcon } from "@radix-ui/react-icons";

const navItems = [
  "Top",
  "Blog",
  "Slides",
  "Works",
  "About",
];
const active = Astro.url.pathname;

let name = "";
for (const item of navItems) {
  if (active.includes(item.toLowerCase())) {
    name = item;
    break;
  }
}
if (name === "") {
  name = "Top";
}
---

<div class="overlay hidden fixed inset-0 z-20" id="overlay"></div>

<header
    class="flex items-center justify-center p-2 h-16 text-2xl sm:text-3xl font-bold shadow-md
               z-30 sticky top-0 bg-gradient-to-r from-emerald-300 via-green-300 to-cyan-300"
>
    <a href="/" class="flex items-center tracking-normal">
        <img src="/logo.avif" alt="logo" width="200" class="mt-1 mr-3" />
    </a>

    <div class="pr-3 text-gray-500 mb-1.5 tracking-widest">::</div>

    <nav class="relative">
        <input type="checkbox" id="nav-checkbox" class="hidden" />
        <label for="nav-checkbox" class="cursor-pointer">
            <div class="flex items-center">
                <a href={`/${name.toLowerCase() === "top" ? "" : name.toLowerCase()}`} class="cursor-pointer no-underline hover:opacity-80">
                    <span class="inline-block">{name}</span>
                </a>
                <div class="toggle-button ml-1">
                    <ChevronDownIcon width="35" height="35" color="grey" />
                </div>
            </div>
        </label>
        <div class="hidden absolute bg-white shadow-md rounded-lg right-0 mt-2 min-w-[6rem] whitespace-nowrap z-30">
            {
                navItems.map((item) => (
                    <a
                        href={`/${item.toLowerCase() === "top" ? "" : item.toLowerCase()}`}
                        class="block py-3 text-center shadow-inner
                          hover:bg-black/10 active:bg-black/20"
                    >
                        {item}
                    </a>
                ))
            }
        </div>
    </nav>
</header>

<style>
    #nav-checkbox:checked + label + div {
        display: block;
    }

    #nav-checkbox:checked ~ #overlay {
        display: block;
    }

    #nav-checkbox:checked + label .toggle-button {
        transform: rotate(180deg);
        animation: open 0.5s ease-out;
    }

    @keyframes open {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

    @media (max-width: 640px) {
        #nav-checkbox:checked + label + div {
            right: 0;
            left: 0;
        }
    }
</style>

<script is:inline>
    // Close dropdown when clicking outside
    document.addEventListener('DOMContentLoaded', () => {
        const navCheckbox = document.getElementById('nav-checkbox');
        const overlay = document.getElementById('overlay');

        if (overlay && navCheckbox) {
            overlay.addEventListener('click', () => {
                navCheckbox.checked = false;
            });
        }

        // Add event listener to the entire document
        document.addEventListener('click', (event) => {
            const target = event.target;
            // Check if the click is outside the nav area
            if (!target.closest('nav') && navCheckbox.checked) {
                navCheckbox.checked = false;
            }
        });
    });
</script>
