<div class="overlay hidden fixed inset-0 z-20" id="overlay"></div>

<header
    class="flex items-center justify-center p-2 h-16 text-2xl sm:text-3xl font-bold shadow-md
               z-30 sticky top-0 bg-gradient-to-r from-emerald-300 via-green-300 to-cyan-300"
>
        <img src="/logo.avif" alt="logo" width="200" class="mt-1 mr-3" />
</header>
