---
import { css } from "../../styled-system/css";

const navItems = [
    {
        name: "Blog",
        path: "/blog/",
    },
    {
        name: "Slides",
        path: "/slides/",
    },
    {
        name: "Works",
        path: "/works/",
    },
    {
        name: "About",
        path: "/about/",
    },
];

const active = Astro.url.pathname;
---

<nav
    class={css({
        "& a": {
            margin: "0.5rem",
            _hover: {
                color: "blue",
            },
        },
    })}
>
    {
        navItems.map((item) => (
            <a
                href={item.path}
                class={css({
                    color: active === item.path ? "black" : "gray",
                })}
            >
                {item.name}
            </a>
        ))
    }
</nav>
